body {
  margin: 0;
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
    display: inline-block;
    vertical-align: left;
    width: 200px;
    height: 90%;
    margin-left:-70px;
    margin-bottom: -10px; 
}
.hlogo{
	pointer-events: none;

}
.cartlogo{
	display: inline-block;
    vertical-align: right;
    width: 50px;
    height: 40px;
    margin-left: 40px;
    margin-bottom: -10px; 
}
.topnav {
  overflow: hidden;
  background-color: black;
  height:300px;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 90px 70px;
  text-decoration: none;
  margin-bottom: -4px;
  font-size: 17px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }
}